# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies
node_modules/
jspm_packages/
.npm
.yarn

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
config.js
config.json